{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Welcome, {{ user.name }}!</h1>

    <p>This is your profile page.</p>

    <p>
        <strong>Name:</strong> {{ user.name }}
    </p>

    <div class="mt-5">
        <a href="{{ path('app_logout') }}">Logout</a>
    </div>
</div>
{% endblock %}
