{% extends 'base.html.twig' %}

{% block title %}Test Results{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Test Results</h1>
        <div class="card mt-4">
            <div class="card-body">
                <pre class="mb-0">{{ output }}</pre>
            </div>
        </div>
    </div>
{% endblock %}

